{{ 'kopstorm.css' | asset_url | stylesheet_tag }}
<script src="{{'kopstorm.js'| asset_url}}" defer="defer"></script>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=635ec62941528a3874e95a76" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="js/webflow.js" type="text/javascript"></script>
<!-- /sections/trustpilot-slider.liquid -->

   <div id="trustpilot-slider" class="trustpilot-banner">
    <div style="max-width: 1125px; margin: 0 auto;" class="trustpilot-banner-wrapper">
      <div class="trustpilot-slider-wrapper">
        <div class="trustpilot-box-before-slider">
          <div class="trustpilot-box-title">Uitstekend</div>
          <img src="https://cdn.shopify.com/s/files/1/0549/0117/8598/files/stars-4.5.svg?v=1662112912" loading="lazy" alt="" class="trustpilot-box-stars">
          <div class="trustpilot-box-review">Gebaseerd op <strong class="trustpilot-box-review-bold">742 reviews</strong></div>
          <img src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/Trustpilot-logo.svg?v=1667224289" loading="lazy" alt="" class="trustpilot-box-logo">
        </div>
        <div data-delay="4000" data-animation="slide" class="trustpilot-slider-desktop w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="trustpilot-slider-mask w-slider-mask">
            <div class="trustbox-slider-slide w-slide">
              <div class="trustpilot-slider-slide">
                <div class="trustpilot-slider-card">
                  <div class="trustpilot-slider-card-top"><img loading="lazy" width="1250" src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/stars.svg?v=1667224289" alt="" class="trustpilot-stars">
                  {% include 'verified-badge' %}
                  </div>
                  <div class="trustpilot-slider-card-center">
                    <div class="trustpilot-slider-card-title">{{ section.settings.title-1 }}</div>
                    <p class="trustpilot-slider-card-text">{{ section.settings.review-1 }}</p>
                  </div>
                  <div class="trustpilot-slider-card-author">{{ section.settings.name-1 }}</div>
                </div>
                <div class="trustpilot-slider-card hide-mobile">
                  <div class="trustpilot-slider-card-top"><img loading="lazy" width="1250" src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/stars-4.svg?v=1667237928" alt="" class="trustpilot-stars">
                  {% include 'verified-badge' %}
                  </div>
                  <div class="trustpilot-slider-card-center">
                    <div class="trustpilot-slider-card-title">{{ section.settings.title-2 }}</div>
                    <p class="trustpilot-slider-card-text">{{ section.settings.review-2 }}</p>
                  </div>
                  <div class="trustpilot-slider-card-author">{{ section.settings.name-2 }}</div>
                </div>
                <div class="trustpilot-slider-card hide-ipad">
                  <div class="trustpilot-slider-card-top"><img loading="lazy" width="1250" src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/stars.svg?v=1667224289" alt="" class="trustpilot-stars">
                  {% include 'verified-badge' %}
                  </div>
                  <div class="trustpilot-slider-card-center">
                    <div class="trustpilot-slider-card-title">{{ section.settings.title-3 }}</div>
                    <p class="trustpilot-slider-card-text">{{ section.settings.review-3 }}</p>
                  </div>
                  <div class="trustpilot-slider-card-author">{{ section.settings.name-3 }}</div>
                </div>
              </div>
            </div>
            <div class="trustbox-slider-slide w-slide">
              <div class="trustpilot-slider-slide">
                <div class="trustpilot-slider-card">
                  <div class="trustpilot-slider-card-top"><img loading="lazy" width="1250" src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/stars-4.svg?v=1667237928" alt="" class="trustpilot-stars">
                  {% include 'verified-badge' %}
                  </div>
                  <div class="trustpilot-slider-card-center">
                    <div class="trustpilot-slider-card-title">{{ section.settings.title-4 }}</div>
                    <p class="trustpilot-slider-card-text">{{ section.settings.review-4 }}</p>
                  </div>
                  <div class="trustpilot-slider-card-author">{{ section.settings.name-4 }}</div>
                </div>
                <div class="trustpilot-slider-card hide-mobile">
                  <div class="trustpilot-slider-card-top"><img loading="lazy" width="1250" src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/stars.svg?v=1667224289" alt="" class="trustpilot-stars">
                  {% include 'verified-badge' %}
                  </div>
                  <div class="trustpilot-slider-card-center">
                    <div class="trustpilot-slider-card-title">{{ section.settings.title-5 }}</div>
                    <p class="trustpilot-slider-card-text">{{ section.settings.review-5 }}</p>
                  </div>
                  <div class="trustpilot-slider-card-author">{{ section.settings.name-5 }}</div>
                </div>
                <div class="trustpilot-slider-card hide-ipad">
                  <div class="trustpilot-slider-card-top"><img loading="lazy" width="1250" src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/stars.svg?v=1667224289" alt="" class="trustpilot-stars">
                  {% include 'verified-badge' %}
                  </div>
                  <div class="trustpilot-slider-card-center">
                    <div class="trustpilot-slider-card-title">{{ section.settings.title-6 }}</div>
                    <p class="trustpilot-slider-card-text">{{ section.settings.review-6 }}</p>
                  </div>
                  <div class="trustpilot-slider-card-author">{{ section.settings.name-6 }}</div>
                </div>
              </div>
            </div>
            <div class="trustbox-slider-slide w-slide">
              <div class="trustpilot-slider-slide">
                <div class="trustpilot-slider-card">
                  <div class="trustpilot-slider-card-top"><img loading="lazy" width="1250" src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/stars.svg?v=1667224289" alt="" class="trustpilot-stars">
                  {% include 'verified-badge' %}
                  </div>
                  <div class="trustpilot-slider-card-center">
                    <div class="trustpilot-slider-card-title">{{ section.settings.title-7 }}</div>
                    <p class="trustpilot-slider-card-text">{{ section.settings.review-7 }}</p>
                  </div>
                  <div class="trustpilot-slider-card-author">{{ section.settings.name-7 }}</div>
                </div>
                <div class="trustpilot-slider-card hide-mobile">
                  <div class="trustpilot-slider-card-top"><img loading="lazy" width="1250" src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/stars.svg?v=1667224289" alt="" class="trustpilot-stars">
                  {% include 'verified-badge' %}
                  </div>
                  <div class="trustpilot-slider-card-center">
                    <div class="trustpilot-slider-card-title">{{ section.settings.title-8 }}</div>
                    <p class="trustpilot-slider-card-text">{{ section.settings.review-8 }}</p>
                  </div>
                  <div class="trustpilot-slider-card-author">{{ section.settings.name-8 }}</div>
                </div>
                <div class="trustpilot-slider-card hide-ipad">
                  <div class="trustpilot-slider-card-top"><img loading="lazy" width="1250" src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/stars-4.svg?v=1667237928" alt="" class="trustpilot-stars">
                  {% include 'verified-badge' %}
                  </div>
                  <div class="trustpilot-slider-card-center">
                    <div class="trustpilot-slider-card-title">{{ section.settings.title-9 }}</div>
                    <p class="trustpilot-slider-card-text">{{ section.settings.review-9 }}</p>
                  </div>
                  <div class="trustpilot-slider-card-author">{{ section.settings.name-9 }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="trustpilot-slider-left-arrow w-slider-arrow-left"><img src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/right-arrow.svg?v=1667224289" loading="lazy" alt="" class="trustpilot-slider-arrow"></div>
          <div class="trustpilot-slider-right-arrow w-slider-arrow-right"><img src="https://cdn.shopify.com/s/files/1/0667/6869/9616/files/left-arrow.svg?v=1667224289" loading="lazy" alt="" class="trustpilot-slider-arrow"></div>
          <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "Trustpilot Slider",
  "settings": [

    {
      "type": "text",
      "id": "title-1",
      "label": "Titel Review (1)",
      "default": "Lovely company"
    },
    {
      "type": "textarea",
      "id": "review-1",
      "label": "Review (1)",
      "default": "Great products, lovely packaging, fast delivery. Nothing but nice things to say about Dore & Rose!"
    },
    {
      "type": "text",
      "id": "name-1",
      "label": "Name on Review (1)",
      "default": "Iris Peeters"
    },
        {
      "type": "text",
      "id": "title-2",
      "label": "Titel Review (2)",
      "default": "Lovely company"
    },
    {
      "type": "textarea",
      "id": "review-2",
      "label": "Review (2)",
      "default": "Great products, lovely packaging, fast delivery. Nothing but nice things to say about Dore & Rose!"
    },
    {
      "type": "text",
      "id": "name-2",
      "label": "Name on Review (2)",
      "default": "Iris Peeters"
    },
        {
      "type": "text",
      "id": "title-3",
      "label": "Titel Review (3)",
      "default": "Lovely company"
    },
    {
      "type": "textarea",
      "id": "review-3",
      "label": "Review (3)",
      "default": "Great products, lovely packaging, fast delivery. Nothing but nice things to say about Dore & Rose!"
    },
    {
      "type": "text",
      "id": "name-3",
      "label": "Name on Review (3)",
      "default": "Iris Peeters"
    },
    {
      "type": "text",
      "id": "title-4",
      "label": "Titel Review (4)",
      "default": "Lovely company"
    },
    {
      "type": "textarea",
      "id": "review-4",
      "label": "Review (4)",
      "default": "Great products, lovely packaging, fast delivery. Nothing but nice things to say about Dore & Rose!"
    },
    {
      "type": "text",
      "id": "name-4",
      "label": "Name on Review (4)",
      "default": "Iris Peeters"
    },
        {
      "type": "text",
      "id": "title-5",
      "label": "Titel Review (5)",
      "default": "Lovely company"
    },
    {
      "type": "textarea",
      "id": "review-5",
      "label": "Review (5)",
      "default": "Great products, lovely packaging, fast delivery. Nothing but nice things to say about Dore & Rose!"
    },
    {
      "type": "text",
      "id": "name-5",
      "label": "Name on Review (5)",
      "default": "Iris Peeters"
    },
        {
      "type": "text",
      "id": "title-6",
      "label": "Titel Review (6)",
      "default": "Lovely company"
    },
    {
      "type": "textarea",
      "id": "review-6",
      "label": "Review (6)",
      "default": "Great products, lovely packaging, fast delivery. Nothing but nice things to say about Dore & Rose!"
    },
    {
      "type": "text",
      "id": "name-6",
      "label": "Name on Review (6)",
      "default": "Iris Peeters"
    },
    {
      "type": "text",
      "id": "title-7",
      "label": "Titel Review (7)",
      "default": "Lovely company"
    },
    {
      "type": "textarea",
      "id": "review-7",
      "label": "Review (7)",
      "default": "Great products, lovely packaging, fast delivery. Nothing but nice things to say about Dore & Rose!"
    },
    {
      "type": "text",
      "id": "name-7",
      "label": "Name on Review (7)",
      "default": "Iris Peeters"
    },
        {
      "type": "text",
      "id": "title-8",
      "label": "Titel Review (8)",
      "default": "Lovely company"
    },
    {
      "type": "textarea",
      "id": "review-8",
      "label": "Review (8)",
      "default": "Great products, lovely packaging, fast delivery. Nothing but nice things to say about Dore & Rose!"
    },
    {
      "type": "text",
      "id": "name-8",
      "label": "Name on Review (8)",
      "default": "Iris Peeters"
    },
        {
      "type": "text",
      "id": "title-9",
      "label": "Titel Review (9)",
      "default": "Lovely company"
    },
    {
      "type": "textarea",
      "id": "review-9",
      "label": "Review (9)",
      "default": "Great products, lovely packaging, fast delivery. Nothing but nice things to say about Dore & Rose!"
    },
    {
      "type": "text",
      "id": "name-9",
      "label": "Name on Review (9)",
      "default": "Iris Peeters"
    }

  ],
  "presets": [
    {
      "name": "Trustpilot Slider",
      "category": "Section"
    }
  ]
}
{% endschema %}
